body {
    background-color: rgb(232, 232, 232);
    font-family: 'American Typewriter', serif;
    margin: 10px;
}

header h1 {
    text-align: center;
}
#byLine {
    text-align: right;
    font-size: 17px;
    text-decoration: underline;
}

article, .citation{
    font-size: 20px;
}

article {
    text-indent: 25px;
}

hr {
    height:5px;
    border-top:2px solid black;
    border-bottom:2px solid black;
  }